<div class="row">
    <div class="col-md-3">
        <form action="#/events/add" method="POST">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="title" class="form-control"/>

            <label for="category">Category</label>
            <input type="text" name="category" id="category" placeholder="Category" class="form-control"/>

            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="Description" class="form-control"></textarea>

            <label for="date">Date</label>
            <input type="text" name="date" id="date" placeholder="Date" class="form-control"/>

            <label for="time">Time</label>
            <input type="text" name="time" id="time" placeholder="Time" class="form-control"/>

            <label for="users">Users</label>
            <select name="users" id="users" class="form-control"></select>

            <button type="submit" class="btn btn-info btn-block">Add Event</button>
        </form>
    </div>
</div>