/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
    box-sizing: border-box;
}
/*
End of the reset settings
*/

.main-content {
    padding: 15px 10px 25px 15px;
    border-radius: 8px;
    width: 425px;
    background-color: #eee;
    overflow: hidden;
}

img {
    margin-right: 15px;
    float: left;
    border: solid 1px #aaa;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

article {
    width: 400px;
    background-color: #fff;
    border: solid 1px #aaa;
    padding: 15px;
    margin-bottom: 35px;
    font-size: 15px;
}

strong {
    font-weight: 700;
}

p {
    margin-bottom: 20px;
}

.buttons {
    float: right;
}

.listen {
    background-image: url("../images/listen-button.gif");
    background-repeat: no-repeat;
    width: 76px;
}

.add {
    background-image: url("../images/add-button.gif");
    background-repeat: no-repeat;
    width: 63px;
}

button {
    height: 25px;
    font-size: 12px;
    line-height: 23px;
    padding-left: 15px;
    color: #fff;
}

article:last-child {
    margin-bottom: 0;
}